
.banner img{
    width: 100vw;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/2;
}

.main{
    padding: 40px 0;
}

.main .inner-right {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main .inner-left {
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main .inner-search {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.main .inner-search input {
    width: 260px;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.main .inner-search i {
    font-size: 18px;
    cursor: pointer;
}

.main .inner-sort {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

.main .inner-product-list a {
    text-decoration: none;
    color: #000;
}

.main .inner-product-list .inner-item {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 10px;
    padding: 5px;
}

.main .inner-product-list .inner-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main .inner-product-list .inner-item .inner-title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main .inner-product-list .inner-item .inner-new-price{
    font-size: 14px;
    color: red;
    margin-right: 25px;
    font-weight: 500;
}

.main .inner-product-list .inner-item .inner-old-price{
    font-size: 13px;
    text-decoration: line-through;
}

.main .inner-product-list .inner-item .inner-more-info {
    margin-top: 10px;
}

.main .inner-product-list .inner-item .inner-more-info img{
    width: 14px;
    height: 14px;
    object-fit: cover;
    margin-right: 2px;
}

.main .inner-product-list .inner-item .inner-more-info .inner-text {
    font-size: 10px;
} 

.main .inner-product-list .inner-item .inner-more-info .inner-preview {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.main .inner-filter .inner-brand form .inner-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.main .inner-filter .inner-brand form input {
    margin-right: 5px;
}

.main .inner-filter .inner-brand form label {
    font-size: 13px;
}

.main .inner-filter .inner-price form .inner-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.main .inner-filter .inner-new-price form input {
    margin-right: 5px;
}

.main .inner-filter .inner-price form label {
    font-size: 13px;
}